*{
margin:0;
padding:0;
}

table{
border-collapse: collapse;
margin:25px 0;
font-size:1.0em;
min-width:400px;
}
table{
background-color:#009879;
color:#ffffff;
text-align:left;
font-weight:bold;


}
body {
background:#FFFFFF;
color:#3f3;
font-family:verdana;

}

.container h1{
color:#fffff;
}

h1{
color:#000000;
}

body {

   height: 400px;
   width: 100%;
   background-image: url("./images/oriental-tiles.png");
}

body {
margin:auto;
 width: 500px;
  padding: 0px;
  border: 3px solid gray;

  overflow-wrap: break-word;
}
th{
color:black
}

td{
color:black
}
.input{
color:black
}
a{
color:black
}
table.mt1{
min-width:70%
}
.table .td{
color:black
}
p{
color:black}
